body{
    font-family: 'Arimo', sans-serif;
    margin: 0px;
}
.half-width{
    width: 40%;
    float: left;
    margin: 4%;
    padding: 1%;
}
h1{
    font-size: 50px;
}
.font-color-one{
    color: #363958;
}
.font-color-two{
    color: #FF8367;
}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 300px;
}
.button-link{
    text-decoration: none;
    background-color:#FF8063;
    padding: 9px 15px;
    color: white;
    border-radius: 4px;
    font-weight: 700;
    font-style: normal;
}
#lastet-work{
    text-align: center;
}
.oneThird-width{
    width: 20%;
    float: left;
    margin: 4%;
    padding: 2%;
    border-radius: 10px;
    background-color: white;
    box-shadow: .5px .5px 2px rgb(168, 167, 167);
    height: 70%;
}
.oneThird-width img{
    width: 100%;
}
.lasted-working-project{
    box-sizing: 100% 80%;
    background-color:#F8F9FC;
}

footer {
    text-align: center;
    font-weight: 700;
    font-size: small;
    
}
.image-size{
    width: 25px;
    height: 25px;
    padding: 5px;
}
.top-bar{
    text-decoration: none;
    display:flex;
    list-style: none;

}
.top-bar li a{
    padding:5px 5px;
    margin: 10px;
    background-color:white;
    text-decoration: none;
}
#work-inquiry{
    max-width: 70%;
    padding-top: 30%;
    padding-left: 30%;
    font-size: 50px;
    color: white;
    height: 800px;
    background-image: url("images/workinquiry.png");
    background-repeat: no-repeat;
}