body{
    font-family: 'Arimo', sans-serif;
    margin: 0px;
}
.half-width{
    width: 40%;
    float: left;
    margin: 4%;
    padding: 1%;
}
h1{
    font-size: 50px;
}
.h1-intro{
    color: #363958;
}
.h1-intro2{
    color: #FF8367;
}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 200px;
}
.button-link{
    text-decoration: none;
    background-color:#FF8063;
    padding: 9px 15px;
    color: white;
    border-radius: 4px;
    font-weight: 700;
    font-style: normal;
}